* {
    font-family: Verdana;
}

h1 {
    background-color: crimson;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

h2 {
    background-color: aqua;
}

p {
    font-family: Tahoma;
    font-size: 14px;
}